@{
    ViewData["Title"] = "Campaign Page";
} 
<section class="bannr-section" style="background-image: url(https://via.placeholder.com/1920x540);">
    <div class="container">
        <div class="bannr-text">
            <img src="assets/img/heading-img.png" alt="icon">
            <h2>Our Campaigns</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Our Campaigns</li>
            </ol>
        </div>
    </div>
</section>
<section class="gap">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="campaigns">
                    <div class="donate-now">
                        <figure>
                            <img src="https://via.placeholder.com/404x285" alt="upcoming-event-img">
                        </figure>
                        <a href="#" class="btn">Donate Now</a>
                        <div class="progressbar">
                            <div class="circle" data-percent="85">
                                <div>85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="campaigns-text">
                        <h4>$71,000</h4>
                        <span>Donation Collected</span>
                        <h5><a href="#">Benefits Of Doing Money To Charitable Organization</a></h5>
                        <p>Islam is definitely accommodates olor sit amet, consectetur adipisicing eli...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="campaigns">
                    <div class="donate-now">
                        <figure>
                            <img src="https://via.placeholder.com/404x285" alt="upcoming-event-img">
                        </figure>
                        <a href="#" class="btn">Donate Now</a>
                        <div class="progressbar">
                            <div class="circle" data-percent="79">
                                <div>79%</div>
                            </div>
                        </div>
                    </div>
                    <div class="campaigns-text">
                        <h4>$71,000</h4>
                        <span>Donation Collected</span>
                        <h5><a href="#">Benefits Of Doing Money To Charitable Organization</a></h5>
                        <p>Islam is definitely accommodates olor sit amet, consectetur adipisicing eli...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="campaigns">
                    <div class="donate-now">
                        <figure>
                            <img src="https://via.placeholder.com/404x285" alt="upcoming-event-img">
                        </figure>
                        <a href="#" class="btn">Donate Now</a>
                        <div class="progressbar">
                            <div class="circle" data-percent="80">
                                <div>80%</div>
                            </div>
                        </div>
                    </div>
                    <div class="campaigns-text">
                        <h4>$71,000</h4>
                        <span>Donation Collected</span>
                        <h5><a href="#">Benefits Of Doing Money To Charitable Organization</a></h5>
                        <p>Islam is definitely accommodates olor sit amet, consectetur adipisicing eli...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="campaigns">
                    <div class="donate-now">
                        <figure>
                            <img src="https://via.placeholder.com/404x285" alt="upcoming-event-img">
                        </figure>
                        <a href="#" class="btn">Donate Now</a>
                        <div class="progressbar">
                            <div class="circle" data-percent="95">
                                <div>95%</div>
                            </div>
                        </div>
                    </div>
                    <div class="campaigns-text">
                        <h4>$71,000</h4>
                        <span>Donation Collected</span>
                        <h5><a href="#">Benefits Of Doing Money To Charitable Organization</a></h5>
                        <p>Islam is definitely accommodates olor sit amet, consectetur adipisicing eli...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="campaigns">
                    <div class="donate-now">
                        <figure>
                            <img src="https://via.placeholder.com/404x285" alt="upcoming-event-img">
                        </figure>
                        <a href="#" class="btn">Donate Now</a>
                        <div class="progressbar">
                            <div class="circle" data-percent="85">
                                <div>85%</div>
                            </div>
                        </div>
                    </div>
                    <div class="campaigns-text">
                        <h4>$71,000</h4>
                        <span>Donation Collected</span>
                        <h5><a href="#">Benefits Of Doing Money To Charitable Organization</a></h5>
                        <p>Islam is definitely accommodates olor sit amet, consectetur adipisicing eli...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="campaigns">
                    <div class="donate-now">
                        <figure>
                            <img src="https://via.placeholder.com/404x285" alt="upcoming-event-img">
                        </figure>
                        <a href="#" class="btn">Donate Now</a>
                        <div class="progressbar">
                            <div class="circle" data-percent="91">
                                <div>91%</div>
                            </div>
                        </div>
                    </div>
                    <div class="campaigns-text">
                        <h4>$71,000</h4>
                        <span>Donation Collected</span>
                        <h5><a href="#">Benefits Of Doing Money To Charitable Organization</a></h5>
                        <p>Islam is definitely accommodates olor sit amet, consectetur adipisicing eli...</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="center">
            <ul class="pagination">
                <li class="prev"><a href="#">Prev</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">...</a></li>
                <li><a href="#">18</a></li>
                <li class="next"><a href="#">next</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="listen-holy" style="background-image: url(https://via.placeholder.com/1920x740);">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="heading two">
                    <p>Listen Holy Quran</p>
                    <h2>Recite & Listen the Holy Quran Online</h2>
                    <h6>Duis aute irure dolor in reprehenit in voluptate velit esse cillum dolo re eu fugiat nulla pariatur.</h6>
                    <div class="wrapper">
                        <h4>Surah Falaq</h4>
                        <h5>(Abd-ur-Rahman)</h5>
                        <audio preload="auto" controls>
                            <source src="assets/audio/surat-alfalaq.mp3">
                        </audio>
                    </div>
                </div>
            </div>
            <div class="offset-lg-1 col-lg-5">
                <div class="support-us" style="background-image: url(assets/img/color-bg.jpg);">
                    <h4>Support us, we need your help.</h4>
                    <div class="progressbar">
                        <div class="circle" data-percent="85">
                            <div>85%</div>
                        </div>
                    </div>
                    <h6>$71,000</h6>
                    <span>Donation Collected</span>
                    <a href="#" class="btn">Donate Now</a>
                </div>
            </div>
        </div>
    </div>
</section>